.article {
  &_header {
    padding: 1em;

    &_title {
      text-align: center;
    }
    &_img {
      filter: brightness(50%);
      object-fit: cover;
    }

    &_byline {
      display: flex;
      gap: 1em;
      justify-content: center;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em 2em;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0;
  }

  &_subtitle {
    flex-grow: 1;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
}

.paragraph {
  &-highlighted {
    font-size: 1.5em;
  }
}

.grayscale {
  filter: grayscale(100%);
}

.listelement {
  &-icon {
    display: flex;
    gap: 1em;
    align-items: baseline;
  }
}

@supports (display: grid) {
  @media (min-width: 42em) and (min-height: 40em) {
    .article {
      &_header {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        height: 40em;
        padding: 0;

        &_title {
          grid-row: 1 / -2;
          grid-column: 1 / -1;
          align-self: end;
        }
        &_img {
          grid-row: 1 / -1;
          grid-column: 1 / -1;
          height: 40em;
          filter: brightness(50%);
        }

        &_byline {
          z-index: 2;
          display: flex;
          grid-row: 2 / -1;
          grid-column: 1 / -1;
          gap: 1em;
          align-self: start;
          justify-self: center;
        }
      }

      &_division {
        display: block;
        width: 100%;
        height: 2px;
      }
    }

    p {
      text-align: justify;
    }
  }
}
