<footer class="footer row">
    <div class="col-3 d-flex align-items-center">Sara Mansori - UOC</div>
    <div
        class="col-9 d-flex align-content-center flex-wrap gap-3 justify-content-end"
    >
        <a href="https://twitter.com/parcelsmusic?lang=en"
            ><i class="fa-brands fa-twitter"></i
        ></a>
        <a href="https://www.youtube.com/channel/UC2as7PrmUgmdZAkMIWNY6EQ"
            ><i class="fa-brands fa-youtube"></i
        ></a>
        <a href="https://open.spotify.com/artist/3oKRxpszQKUjjaHz388fVA"
            ><i class="fa-brands fa-spotify"></i
        ></a>
        <a href="https://www.instagram.com/parcelsmusic/"
            ><i class="fa-brands fa-instagram"></i
        ></a>
    </div>
</footer>
