@use "sass:color";

@font-face {
  font-family: Montserrat;
  src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: Cabin;
  src: url("../../assets/fonts/Cabin-VariableFont_wdth_wght.ttf");
}

$font-family-sans-serif: "Cabin", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

$font-family-serif: "Georgia", "Times New Roman", serif;

$bg-dark: #22223b;
$dark: #22223b;
$primary: #f2e9e4;
$accent: #c9ada7;
$secondary: #9a8c98;
$tertiary: #4a4e69;

$header-font: "Montserrat", Helvetica, Arial, sans-serif;

$mqMinWidth: 420px;
